@CHARSET "ISO-8859-1";

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #575757;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #0066FF;
	padding: 11;
}

.style6 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	padding: 11;
	font-family: Arial, Helvetica, sans-serif;
}

.style7 {
	font-weight: bold;
	padding: 11;
	font-size: 16px;
	font-style: normal;
	font-family: "Franklin Gothic Book";
}

body {
	background-color: #e4e5e0;
	margin-top: 20px;
}

.websitemakertext {
	font-family: Corbel;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}

.style8 {
	color: #0099FF;
	font-weight: bold;
}

.style10 {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #666666;
}

.style19 {
	color: #0099FF;
	font-weight: bold;
	font-size: 14;
}

.style20 {
	font-family: "Franklin Gothic Book"
}

.style22 {
	font-size: 10px;
	color: #333333;
}

.formfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #484848;
	padding: 7px;
}

.style23 {
	font-size: 14px;
	color: #009933;
	font-weight: bold;
}

.formfieldStart {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #484848;
	padding: 7px;
	background-color: #C9F8C0;
}

.style26 {
	font-family: Arial, Helvetica, sans-serif
}

.style29 {
	color: #009933;
	font-weight: normal;
}

.style31 {
	color: #6F6F6F
}

.choosefilebutton {
	font-family: "Century Gothic";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #009933;
	background-color: #C9F8C0;
	border: thin solid #78A970;
	padding: 11px;
}

.style34 {
	color: #575757;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.style35 {
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #575757;
}

a.nav_link {
	color: #333333;
}


				.gray_overview_box{
					border: 1px solid #ccc;padding:5px 10px;font-size: 13px;color:#787878;
					padding:12px;	
				}
            	.graybutton{
					display:block;padding:8px;color: #454545;text-decoration: none;border:1px solid #ccc;clear:both;margin:10px;
					-moz-border-radius:5px;
					background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DADADA));
					background:-moz-linear-gradient(top, #FFF, #DADADA);
					filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DADADA');	
					font-size: 12px;
					text-align: center;
					margin:5px 0px;
            	}


